DEBUG=True
LOG_LEVEL=INFO
DB_ECHO=False

DB_HOST=localhost
DB_PORT=5436
DB_USER=order_user
DB_PASS=order_password
DB_NAME=order_db

CORS_ORIGINS=["http://localhost:3000"]

RABBITMQ_URL=amqp://guest:guest@localhost:5672/
CART_SERVICE_URL=http://localhost:8003
PRODUCT_SERVICE_URL=http://localhost:8002
ORDER_PAYMENT_TIMEOUT_MS=900000